@import "reset.css";
@import "calendar.css";
@import "todo.css";
@import "search.css";
@import "weather.css";
@import "quote.css";

@font-face {
	font-family: "on-j";
	src: url("../fonts/on-j.ttf") format("truetype");
}
.hidden {
	display: none;
}
*,
body {
	font-family: "on-j", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
}
.section1,
.section2,
.section3,
.section4 {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.section1 {
	background-color: transparent;
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
.section2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	background-color: transparent;
	height: 40vh;
}
.section3 {
	padding: 20px;
	display: flex;
	justify-content: space-evenly;
	height: 45vh;
}
.section4 {
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	height: 10vh;
	color: white;
	font-size: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}

/** date **/
#date {
	font-size: 1.8em;
	text-align: center;
	color: #ddd;
	margin-bottom: 10px;
}

/** clock **/
#clock {
	margin: 0px;
	font-size: 8em;
	text-align: center;
	color: #ddd;
	margin-bottom: 20px;
	letter-spacing: 0.05em;
}

/** background image **/
.bgImage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	filter: brightness(0.3);
}
